*{
	margin: 2px;
	padding: 0;
	box-sizing: border-box;
	}
	

header{
	background-image: url("download.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:30vh;
	padding: 4%;
}
h1,h2,p{
	text-align: center;
}
p{
	font-size: 18px;
}
header {

	text-align: center;
}
.content{
	padding: 40px 4%;
}
.skills{
	margin: auto;
	display: block;
	background-color: red;
	padding: 40px 25px;
	color: white;
}
.list{
	box-sizing: border-box;
	border: transparent;
	margin: 0 46%;
	display: block;
}
.list ul li{
	padding: 5px;
}

footer h2{
	text-align: center;
	padding: 20px 0 0 0;
	margin-top: 40px;*/
}
/*--------------------media---------------*/
@media only screen and (max-width: 420px){
	p{
		text-align: left;
		font-size: 25px;
		padding: 5px;
	}
	h2{
		text-align: left;
		font-size: 30px;
	}
	h1{
		padding-top: 50px;
	}
	.list{
		box-sizing: border-box;
		border: transparent;
		margin: 0 12px;	
		display: block;
		font-size: 25px;
		padding: 5px;
	}
	footer p{
		text-align: center;
	}
	footer{
		padding-bottom: 0;
	}
	}
